<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rate My TAs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="https://kit.fontawesome.com/ce08974c4d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html"><i class="fas fa-school"></i> RateMyTAs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="schools.html">Schools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TAs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Top TAs</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for a school or TA" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="#search">Search</button>
            </form>
        </div>
    </nav>

    <section class="jumbotron text-center">
        <h2 class="search">Search for what you need:</h1>
            <div class="row d-flex justify-content-center">
                <button type="button" class="btn btn-lg btn-secondary py-2 mx-2 col col-md-3">Find a <br><span
                        id="buttonEmph">school</span></button>
                <button type="button" class="btn btn-lg btn-secondary py-2 mx-2 col col-md-3">Find a <br><span
                        id="buttonEmph">course</span></button>
                <button type="button" class="btn btn-lg btn-secondary py-2 mx-2 col col-md-3" onclick="sendMessage();">Find a <br><span
                        id="buttonEmph">TA</span></button>
            </div>
    </section>

    <section class="info">
        <h1>What is RateMyTAs?</h1>
        <hr class="divider">
        <div class="d-flex align-items-center align-items-lg-stretch justify-content-lg-around flex-column flex-lg-row">
            <div class="card">
                <img src="../img/teacher.jpg" class="card-img-top" alt="..." height=300px;>
                <div class="card-body ">
                    <h5 class="card-title">Learn about your TAs</h5>
                    <hr>
                    <p class="card-text">
                        Everyone knows a <a href="https://www.ratemyprofessors.com" target="_blank" id="rmp">good professor</a> 
                        can make or break a course. What some people don't know is that the same can go for TAs. Now, 
                        you can tell other students the best office hours to attend, and give critical feedback to 
                        your TAs.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="../img/notebook.jpg" class="card-img-top" alt="..." height=300px;>
                <div class="card-body ">
                    <h5 class="card-title">Learn about your courses</h5>
                    <hr>
                    <p class="card-text">
                        Jumping into a brand new course can be scary. Not only will you learn valuable information
                        about what you're about to get into, but it can also give you peace of mind. Or, in the case
                        of CSE116, conflict of mind.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="../img/jessewoke.png" class="card-img-top" alt="..." height=300px;>
                <div class="card-body ">
                    <h5 class="card-title">See the best TAs</h5>
                    <hr>
                    <p class="card-text">
                        Being a TA is a thankless job. That's a complete lie. There's lots of thanks. But sometimes, 
                        it can still be nice for them to hear what a good (or not good) job they're doing.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
</body>

</html>